<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<main id="main" data-aos="fade" data-aos-delay="300">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Booking History</h2>
                </div>
            </div>
        </div>
    </div><!-- End Page Header -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="row justify-content-center mt-4 mb-5">

                <div class="col-lg-9 mb-5">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Category Name</th>
                                <th>Photoshoot Name</th>
                                <th>Booking Date</th>
                                <th>Booking Status</th>
                                <th>Created At</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of bookings;let i=index">
                                <td>{{i+1}}</td>
                                <td>{{data.categoryName}}</td>
                                <td>{{data.photoshoot}}</td>
                                <td>{{data.bookingDate}}</td>
                                <td>{{data.bookingStatus}}</td>
                                <td>{{getdate(data.created)}}</td>
                                <td>
                                    <span *ngIf="data.bookingStatus == 'Pending'" (click)="can(data)"><i class="fa fa-times fa-2x text-danger" title="Cancel"></i></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- End Contact Form -->

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->