<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<main id="main" data-aos="fade" data-aos-delay="300">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Update Gallery</h2>
                </div>
            </div>
        </div>
    </div><!-- End Page Header -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="row justify-content-center mt-4 mb-5">

                <div class="col-lg-9 mb-5">
                    <form>
                        <div class="row">
                            <div class="col-md-6 form-group mx-auto">
                                <label for="">Category Name</label>
                                <select name="categoryName" #categoryName [(ngModel)]="currentGallery.categoryName" class="form-control">
                                    <option value="" selected disabled>Select Category</option>
                                    <option *ngFor="let cat of categorydata">{{cat.categoryName}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group mx-auto">
                                <label for="">PhotoshootName</label>
                                <select name="photoshootName" #photoshootName [(ngModel)]="currentGallery.photoshootName" class="form-control">
                                    <option value="" selected disabled>Select Photoshoot</option>
                                    <option *ngFor="let foto of photoshootdata">{{foto.title}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group mx-auto">
                                <label for="">Thumbnail</label>
                                <input type="file" (change)="selectFile($event)" class="form-control">
                            </div>
                        </div>
                        <button type="button" class="btn btn-warning my-3 mx-auto d-block"
                            (click)="submit()">Submit</button>
                    </form>
                </div><!-- End Contact Form -->

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->