<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<!-- Page Header Start -->
<div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h5 class="display-4 text-white animated slideInDown mb-4">Dashboard</h5>
    </div>
</div>
<!-- Page Header End -->
<div class="container-fluid facts py-5 pt-lg-0">
    <div class="container py-5 pt-lg-0">
        <div class="row gx-0">
            <div class="col-lg mx-1 wow fadeIn" data-wow-delay="0.5s">
                <div class="card my-5 py-5 text-center bg-warning">
                    <div class="card-body">
                        <h5 class="card-title">Total Services</h5>
                        <h3 class="card-subtitle mb-2 text-body-secondary">{{ total_services }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg mx-1 wow fadeIn" data-wow-delay="1s">
                <div class="card my-5 py-5 text-center bg-dark">
                    <div class="card-body">
                        <h5 class="card-title text-white">Total Photoshoots</h5>
                        <h3 class="card-subtitle mb-2 text-white">{{ total_photoshoots }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg mx-1 wow fadeIn" data-wow-delay="1.5s">
                <div class="card my-5 py-5 text-center bg-warning">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Total Bookings</h5>
                        <h3 class="card-subtitle mb-2 text-body-secondary text-white">{{ total_bookings }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg mx-1 wow fadeIn" data-wow-delay="2s">
                <div class="card my-5 py-5 text-center bg-dark">
                    <div class="card-body">
                        <h5 class="card-title text-white">Total Customers</h5>
                        <h3 class="card-subtitle mb-2 text-white">{{ total_customers }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>